<h1 class="w3-center">Unit 3: Key Signatures</h1>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Major Key Signatures Lesson</h2>
  <a routerLink="major-key-signatures-lesson" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/KeySignatures/KeySignatureReference.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major Key Signatures Lesson
    </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-margin w3-border-bottom w3-border-white">
  <h2> Major Key Signature Identification Quiz </h2>
  <a routerLink="major-key-signatures-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/KeySignatures/4sharps.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major Key Signature Identification Quiz
    </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Major Key Signature Construction Quiz </h2>
  <a routerLink="major-key-signatures-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/KeySignatures/MajorScaleToKeySig.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major Key Signature Construction Quiz
    </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Minor Key Signatures Lesson</h2>
  <a routerLink="minor-key-signatures-lesson" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
    <img src="../../../assets/img/KeySignatures/MinorKeySignatureReference.gif" class="w3-center w3-image"/>
    <br/>
    <br/>
    Start Minor Key Signatures Lesson
  </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-margin w3-border-bottom w3-border-white">
  <h2> Minor Key Signature Identification Quiz </h2>
  <a routerLink="minor-key-signatures-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/KeySignatures/2sharps.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Minor Key Signature Identification Quiz
    </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Minor Key Signature Construction Quiz </h2>
  <a routerLink="minor-key-signatures-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/KeySignatures/MinorCircleOfFifths.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Minor Key Signature Construction Quiz
    </button>
  </a>
</div>
