<form style="display: none">
  <input class="w3-input w3-border" value="{{ (_AuthenticationService.user | async)?.uid }}" id="uid" #uid style="display: none">
</form>

<div class="header w3-container w3-border-bottom w3-border-white w3-indigo w3-centered" onload="checkUser(uid.value)">
  <div class="w3-half w3-container">
    <h1 routerLink="/" routerLinkActive="active" class="w3-btn">AP Music Theory Prep Course</h1>
    <div *ngIf="_AuthenticationService.user | async">
      <button class="w3-center w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black" id="logoutbtn" (click)="logout()">
        <a routerLink="/" routerLinkActive="active">
          Logout
        </a>
      </button>

      <button class="w3-center w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black" id="register"
              onclick="document.getElementById('userRegistrationForm').style.display='block'" *ngIf="!(_AuthenticationService.registered)">
        User Registration
      </button>

      <div id="userRegistrationForm" class="w3-modal">
        <div class="w3-modal-content">
          <app-user-registration></app-user-registration>
        </div>
      </div>

      <button class="w3-center w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black" id="user" routerLink="user-progress"
              routerLinkActive="active">
        User Information/Progress
      </button>
    </div>
    <div *ngIf="!(_AuthenticationService.user | async)">
      <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black" id="loginbtn" (click)="login()">Login</button>
    </div>
  </div>
  <div class="w3-half w3-container3 w3-margin-top">
    <div class="w3-bar">
      <a class="w3-bar-item w3-button w3-mobile w3-border w3-border-white w3-card-4" routerLink="/" routerLinkActive="active">Home</a>
      <div class="w3-dropdown-hover">
        <div class="w3-button w3-mobile w3-border w3-border-white">Units <i class="fa fa-caret-down"></i></div>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-gray w3-text-black">
          <a routerLink="unit-one" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 1</a>
          <a routerLink="unit-two" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 2</a>
          <a routerLink="unit-three" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 3</a>
          <a routerLink="unit-four" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 4</a>
          <a routerLink="unit-five" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 5</a>
          <a routerLink="unit-six" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 6</a>
          <a routerLink="unit-seven" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 7</a>
          <a routerLink="unit-eight" routerLinkActive="active" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">Unit 8</a>
        </div>
      </div>
      <div class="w3-bar-item w3-button w3-mobile w3-border w3-border-white"><a
        href="https://sites.google.com/a/chagrinstudents.org/mr-hamid/home/ap-music-theory" target="_blank">AP Music Theory Syllabus</a>
      </div>
      <div class="w3-dropdown-hover">
        <div class="w3-button w3-mobile w3-border w3-border-white">Resources <i class="fa fa-caret-down"></i></div>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-gray w3-text-black">
          <a href="https://docs.google.com/document/d/1iKCDnEf0-77hCocSCGz0TJPxOlwc-keocNZJjYg2pPs/edit?usp=sharing"
             target="_blank" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">CFHS Choir & AP Requiremets</a>
          <a href="https://www.musictheory.net/" target="_blank" class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-border-black">MusicTheory.net</a>
          <a href="https://flat.io" target="_blank" class="w3-bar-item w3-button w3-mobile">Flat.io</a>
        </div>
      </div>
      <div class="w3-bar-item w3-button w3-mobile w3-border w3-border-white">
        <a href="mailto: youssef.hamid@chagrinschools.org?Subject=AP%20Music%20Theory%20Prep%20Course%20Contact">
          Contact
        </a>
      </div>
    </div>
    <div *ngIf="_AuthenticationService.user | async">
      <h3>You are currently logged in as: {{ (_AuthenticationService.user | async)?.email }}</h3>
      <h3 *ngIf="_AuthenticationService.registered">You are registered and may save your quiz results.</h3>
      <h3 *ngIf="!(_AuthenticationService.registered)">You are not registered and will not be able to save your quiz results.</h3>
    </div>

    <h3 *ngIf="!(_AuthenticationService.user | async)">You are not currently logged in. Please login with your GoogleId and then register if you would
      like to save your progress.</h3>
  </div>
</div>
