<div class="w3-container w3-center">
  <h1>User Information</h1>
  <div class="w3-card-4 w3-center" style="width: 50%; margin: auto">
    <p>Name: {{ userInfo.firstname }} {{ userInfo.lastname }}</p>
    <p>School: {{userInfo.school}}</p>
    <p>Class: {{userInfo.program}}</p>
    <p>Graduation Year: {{userInfo.gradYear}}</p>
    <p>Email: {{userInfo.googleId}}</p>
  </div>
  <button (click)="getUserProgress()" *ngIf="!showProgress">Show User Progress</button>
  <button (click)="hideUserProgress()" *ngIf="showProgress">Hide User Progress</button>
</div>


<div class="w3-section w3-center" *ngIf="showProgress">
  <h2>Quiz Progress</h2>
  <h4>This table shows the highest score achieved on each quiz.
    <br/>
    Click on the specific quiz button to show all results from that quiz</h4>

  <table class="w3-table-all">
    <tr>
      <th class="w3-border w3-border-black">Quiz</th>
      <th class="w3-border w3-border-black">Date</th>
      <th class="w3-border w3-border-black">Total</th>
      <th class="w3-border w3-border-black">Time</th>
    </tr>
    <tr *ngFor="let quiz of quizResults">
      <td class="w3-border w3-border-black"><button onclick="document.getElementById('specificQuizResults').style.display='block'" (click)="getSpecificQuizResults()" id="{{quiz.quiz}}">{{ quiz.quiz }}</button>
        <div id="specificQuizResults" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-card-4">
                  <span onclick="document.getElementById('specificQuizResults').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>

              <div class="w3-container w3-center w3-indigo">
                <h2>{{ quiz.quiz }} Results</h2>
              </div>

              <table class="w3-table-all">
                <tr>
                  <th class="w3-border w3-border-black">Date</th>
                  <th class="w3-border w3-border-black">Total</th>
                  <th class="w3-border w3-border-black">Time</th>
                </tr>
                <tr *ngFor="let entry of _userProgressService.quizResults2">
                  <td class="w3-border w3-border-black">{{entry.dateTimeSubmitted}}</td>
                  <td class="w3-border w3-border-black">{{entry.total}}</td>
                  <td class="w3-border w3-border-black">{{entry.timeElapsed}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </td>
      <td class="w3-border w3-border-black">{{ quiz.date }}</td>
      <td class="w3-border w3-border-black">{{quiz.total}}%</td>
      <td class="w3-border w3-border-black">{{quiz.time}}</td>
    </tr>
  </table>

</div>
