<div class="w3-large w3-center">
  <div class="w3-container w3-center">
    <app-scale-identification-quiz-scoring></app-scale-identification-quiz-scoring>
    <app-scale-identification-quiz-question-display></app-scale-identification-quiz-question-display>
    <app-scale-identification-answer-options></app-scale-identification-answer-options>
    <app-timer></app-timer>
    <app-scale-identification-quiz-submit></app-scale-identification-quiz-submit>
  </div>

  <hr class="hr">
  <a routerLink="/unit-two" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 2
    </button>
  </a>
</div>
