<div class="w3-large w3-center">
  <h2>Scale Identification Quiz</h2>
  <div class="w3-container w3-center">
    <app-scale-identification-quiz-scoring></app-scale-identification-quiz-scoring>
    <app-scale-identification-quiz-question-display></app-scale-identification-quiz-question-display>
    <app-scale-identification-answer-options></app-scale-identification-answer-options>
    <div class="w3-bar">
      <div class="w3-btn w3-round w3-card-4 w3-margin" (click)="reset()">Reset</div>
      <app-timer class="w3-btn"></app-timer>
      <app-scale-identification-quiz-submit class="w3-btn"></app-scale-identification-quiz-submit>
    </div>
  </div>

  <hr class="hr">
  <a routerLink="/unit-two" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 2
    </button>
  </a>
</div>
