<div class="w3-large w3-center">
  <div class="w3-container w3-center">
    <h2> Major Key Signatures Construction Quiz </h2>

    <app-major-key-signatures-construction-quiz-scoring></app-major-key-signatures-construction-quiz-scoring>
    <app-major-key-signatures-construction-quiz-question-display></app-major-key-signatures-construction-quiz-question-display>
    <app-major-key-signatures-construction-quiz-answer-options></app-major-key-signatures-construction-quiz-answer-options>
    <div class="w3-bar">
      <div class="w3-btn w3-round w3-card-4 w3-margin" (click)="reset()">Reset</div>
      <app-timer class="w3-btn"></app-timer>
      <app-major-key-signatures-construction-quiz-submit class="w3-btn"></app-major-key-signatures-construction-quiz-submit>
    </div>

  </div>

  <hr class="hr">
  <a routerLink="/unit-three" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 3
    </button>
  </a>
</div>
