<div class="w3-card-4">
  <div class="w3-container w3-center w3-indigo">
    <h2>User Registration</h2>
  </div>

  <form class="w3-container" >
    <span onclick="document.getElementById('userRegistrationForm').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
    <br/>
    <input class="w3-input w3-border" placeholder="First Name" id="firstName" required #firstname>
    <br/>
    <input class="w3-input w3-border" placeholder="Last Name" id="lastName" required #lastname>
    <br/>
    <input class="w3-input w3-border" value="{{ (_AuthenticationService.user | async)?.email }}" id="googleId" required #googleid style="display: none">
    <input class="w3-input w3-border" value="{{ (_AuthenticationService.user | async)?.uid }}" id="uid" required #uid style="display: none">
    <select class="w3-select w3-border" name="option" required #school>
      <option value="" disabled selected>Select School</option>
      <option *ngFor="let school of schools" value="{{school}}">{{school}}</option>
    </select>
    <br/>
    <br/>
    <select class="w3-select w3-border" name="option" required #program>
      <option value="" disabled selected>Select Program</option>
      <option *ngFor="let program of programs" value="{{program}}">{{program}}</option>
    </select>
    <br/>
    <br/>
    <select class="w3-select w3-border" name="option" required #gradyear>
      <option value="" disabled selected>Select Graduation Year</option>
      <option *ngFor="let year of gradYears" value="{{year}}">{{year}}</option>
    </select>
    <br/>
    <br/>
    <button class="w3-btn w3-indigo" (click)="register(firstname.value, lastname.value, googleid.value, uid.value, school.value, program.value, gradyear.value)">Register</button>
    <br/>
    <br/>
  </form>
  <div class="w3-panel w3-red" *ngIf="missingValues">
    <h3>The form submission is missing values.</h3>
  </div>
</div>

