<div class="PossibleQuantityAnswers w3-btn-bar w3-show-inline-block w3-center " *ngIf="hideAnswer">
  <button class="w3-btn w3-round w3-border w3-border-black w3-white w3-hover-black" *ngFor="let quantity of intervalQuantities"
          (click)="checkQuantity($event)" id="{{ quantity }}"> {{ quantity }}
  </button>
</div>

<div class="PossibleQualityAnswers w3-btn-bar w3-show-inline-block w3-center "
     *ngIf="correctQuantity">
  <button class="w3-btn w3-round w3-border w3-border-black w3-white w3-hover-black" *ngFor="let quality of intervalQualities"
          (click)="checkQuality($event)" id="{{ quality }}"> {{ quality }}
  </button>
</div>

<div class="audio" *ngIf="correctQuality">
  <audio autoplay src="{{ current.audio1 }}" type="audio/mpeg"></audio>
  <audio autoplay src="{{ current.audio2 }}" type="audio/mpeg"></audio>
</div>
