<div class="w3-large w3-center">
  <div class="w3-container w3-center">

    <app-major-scale-quiz-scoring></app-major-scale-quiz-scoring>
    <app-major-scale-quiz-question-display></app-major-scale-quiz-question-display>
    <app-major-scale-quiz-answer-options></app-major-scale-quiz-answer-options>
    <div>
      <div class="w3-btn w3-round w3-card-4 w3-margin" (click)="reset()">Reset</div>
      <app-timer class="w3-btn"></app-timer>
      <app-major-scale-quiz-submit class="w3-btn"></app-major-scale-quiz-submit>
    </div>

  </div>

  <hr class="hr">
  <a routerLink="/unit-two" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 2
    </button>
  </a>
</div>
