<div class="w3-large w3-center">
  <div class="w3-container w3-center">
    <h2> {{quizTitle}} Interval Identification Quiz </h2>

    <app-interval-identification-quizzes-scoring></app-interval-identification-quizzes-scoring>
    <app-interval-identification-quizzes-question-display></app-interval-identification-quizzes-question-display>
    <app-interval-identification-quizzes-answer-options></app-interval-identification-quizzes-answer-options>
    <app-timer></app-timer>
    <!--<app-interval-identification-quizzes-submit></app-interval-identification-quizzes-submit>-->

  </div>

  <hr class="hr">
  <a routerLink="/unit-four" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 3
    </button>
  </a>
</div>
