<div class="w3-large w3-center">
  <div class="w3-container w3-center">
    <h2> {{quizTitle}} Root Position Triad Identification Quiz </h2>

    <app-root-position-triad-identification-quiz-scoring></app-root-position-triad-identification-quiz-scoring>
    <app-root-position-triad-identification-quiz-question-display></app-root-position-triad-identification-quiz-question-display>
    <app-root-position-triad-identification-quiz-answer-options></app-root-position-triad-identification-quiz-answer-options>
    >
    <div>
      <app-timer></app-timer>
    </div>

  </div>

  <hr class="hr">
  <a routerLink="/unit-four" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 5
    </button>
  </a>
</div>
