<div class="w3-large w3-center">
  <div class="w3-center">
    <h2> {{quizTitle}} Interval Construction Quiz </h2>
    <div class="w3-center">
      <app-interval-construction-quiz-scoring></app-interval-construction-quiz-scoring>
      <app-interval-construction-quiz-question-display></app-interval-construction-quiz-question-display>
      <app-interval-construction-quiz-answer-options></app-interval-construction-quiz-answer-options>
      <app-timer></app-timer>
      <div *ngIf="_intervalConstructionQuizService.pm">
        <app-perfect-major-interval-construction-quiz-submit></app-perfect-major-interval-construction-quiz-submit>
      </div>
      <div *ngIf="_intervalConstructionQuizService.pmm">
        <app-perfect-major-minor-interval-construction-quiz-submit></app-perfect-major-minor-interval-construction-quiz-submit>
      </div>
    </div>

  </div>

  <hr class="hr">
  <a routerLink="/unit-four" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      Return to Unit 4
    </button>
  </a>
</div>
