<h1 class="w3-center">Unit 4: Intervals</h1>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Interval Lesson #1</h2>
  <a routerLink="interval-lesson-one" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/GenericIntervals.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Intervals Lesson #1
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Perfect & Major Interval Identification Quiz </h2>
  <a routerLink="perfect-major-interval-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/P4/bassCb3P4.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Perfect & Major Interval Identification Quiz<br/>
      Quiz 4.1
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Perfect & Major Inteval Construction Quiz </h2>
  <a routerLink="perfect-major-interval-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/Ma2/trebleDsharp4Ma2.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Perfect & Major Interval Construction Quiz<br/>
      Quiz 4.2
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Interval Lesson #2</h2>
  <a routerLink="interval-lesson-two" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/mIntervals.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Intervals Lesson #2
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Perfect, Major & minor Interval Identification Quiz </h2>
  <a routerLink="perfect-major-minor-interval-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/m6/bassBb2m6.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Perfect, Major, & minor Interval Identification Quiz<br/>
      Quiz 4.3
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Perfect, Major, and minor Interval Construction Quiz </h2>
  <a routerLink="perfect-major-minor-interval-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/m3/trebleG3m3.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Perfect, Major & minor Interval Construction Quiz<br/>
      Quiz 4.4
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Interval Lesson #3</h2>
  <a routerLink="interval-lesson-three" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/AIntervals.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Intervals Lesson #3
    </button>
  </a>
  <hr class="hr">
</div>

<div class="ALLIntervalIdentificationQuiz w3-container w3-center w3-border-bottom w3-border-white">
  <h2> ALL Interval Identification Quiz </h2>
  <a routerLink="all-interval-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/A6/bassCsharp3A6.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start ALL Interval Identification Quiz<br/>
      Quiz 4.5
    </button>
  </a>
  <hr class="hr"/>
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> ALL Interval Construction Quiz </h2>
  <a routerLink="all-interval-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Intervals/d7/trebleBb4d7.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start ALL Interval Construction Quiz<br/>
      Quiz 4.6
    </button>
  </a>
</div>
