<h1 class="w3-center">Unit 5: Root Position Triads</h1>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2>Root Position Triads Lesson</h2>
  <a routerLink="root-position-triads-lesson" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/RPLessons/bassC3min_Intervals.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Root Position Triads Lesson
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Major & minor Triad Identification Quiz </h2>
  <a routerLink="major-minor-triad-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/bassDsharp2min.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major & minor Triad Identification Quiz<br/>
      Quiz 5.1
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Major & minor Triad Construction Quiz </h2>
  <a routerLink="major-minor-triad-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleAb3Maj.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major & minor Triad Construction Quiz<br/>
      Quiz 5.2
    </button>
  </a>
  <hr class="hr">
</div>

<div class="MATriadIdentificationQuiz w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Major & Augmented Triad Identification Quiz </h2>
  <a routerLink="major-augmented-triad-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleCsharp4Aug.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major & Augmented Triad Identification Quiz<br/>
      Quiz 5.3
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> Major & Augmented Triad Construction Quiz </h2>
  <a routerLink="major-augmented-triad-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleAb3Maj.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start Major & Augmented Triad Construction Quiz<br/>
      Quiz 5.4
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> minor & diminished Triad Identification Quiz </h2>
  <a routerLink="minor-diminished-triad-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleB4min.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start minor & diminished Triad Identification Quiz<br/>
      Quiz 5.5
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> minor & diminished Triad Construction Quiz </h2>
  <a routerLink="minor-diminished-triad-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleAb3Maj.gif" class="w3-center w3-image"/>
      <br/>
      Start minor & diminished Triad Construction Quiz<br/>
      Quiz 5.6
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> ALL Triads Identification Quiz </h2>
  <a routerLink="all-triad-identification-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleB3Maj.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start ALL Triads Identification Quiz<br/>
      Quiz 5.7
    </button>
  </a>
  <hr class="hr">
</div>

<div class="w3-container w3-center w3-border-bottom w3-border-white">
  <h2> ALL Triads Construction Quiz </h2>
  <a routerLink="all-triad-construction-quiz" routerLinkActive="active">
    <button class="w3-btn w3-round w3-white w3-text-black w3-card-4 w3-margin w3-hover-black">
      <img src="../../../assets/img/Triads/RootPosition/trebleAb3Maj.gif" class="w3-center w3-image"/>
      <br/>
      <br/>
      Start ALL Triad Construction Quiz<br/>
      Quiz 5.8
    </button>
  </a>
  <hr class="hr">
</div>
