<div *ngIf="hideAnswer">
  <div class="w3-btn-bar w3-show-inline-block w3-center">
    <button class="w3-btn w3-round w3-border w3-border-black w3-white w3-hover-black" *ngFor="let note of noteNames.scaleTonics"
            (click)="checkTonic($event)" id="{{ note }}"> {{ note }}
    </button>
  </div>
</div>

<div *ngIf="correctTonic">
  <div class="w3-btn-bar w3-show-inline-block w3-center">
    <button class="w3-btn w3-round w3-border w3-border-black w3-white w3-hover-black" (click)="checkScale($event)"
            *ngFor="let scale of scaleQualities"
            id="{{ scale }}"> {{ scale }}
    </button>
  </div>
</div>

<div class="audio" *ngIf="correctScale">
  <audio autoplay src="{{ current.audio }}" type="audio/mpeg"></audio>
</div>
